.portfolio {
    height: 10%;
    padding-top: 0rem;
    text-align: center;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    height: 16rem;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 12rem;
}

.portfolio__item h4 {
    margin: 1.2rem 0 0 0;
    size: 1rem;
    color: var(--color-text);
}

.portfolio__item-cta {
    text-align: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}





/* ==================== MEDIA SCREEN (Medium Devices) ==================== */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }


}

/* ==================== MEDIA SCREEN (Small Devices) ==================== */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}
