.experience{
    height: 10%;
    padding-top: 0rem;
    text-align: center;
}

.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 4rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover {
    background-color: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: left;
    font-size: 2.5vh;
    color: var(--color-white);
    margin-bottom: 1rem;
}

.experience__content {
    display: grid;
    grid-template-columns:  1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
}

.experience__details-icon {
    margin-top: 6px;
    color:  var(--color-primary)
}


/* ==================== MEDIA SCREEN (Medium Devices) ==================== */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
}

/* ==================== MEDIA SCREEN (Small Devices) ==================== */
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }
}
